#######
# IDE #
#######
#PHP storm
.idea/*
# NEtbeans
/nbproject/*
#Vs
.vscode/*
*.vsix
.history
.vs

#####################
# MAC Filesystem #
#####################
.DS_Store
__MACOSX

#####################
# Additional files  #
#####################
*.sql
*.zip
*.gz
*.rar
*.log

# Wordpress - ignore core, configuration, examples, uploads and logs.
!public_html/
public_html/*

#others
node_modules
/vendor

#includes
!/public_html/wp-config.php
!/public_html/wp-config-local-sample.php
!/public_html/wp-config-pantheon.php

